/***************
to install sass: 
sudo gem install sass 
***********************
every time a change is made in this file, this command must be ran (from the public folder):
sass scss/app.scss css/app.css
*****************/

$lightgold: #FEE737;
$gold: #FADC00;
$lightblue: #3947b4;
$blue: #1728AC
$darkblue: #0A156A;
$red: #d50000;

h1 {
	color: $gold;
}