<template id= "battle-template">
	 <div class="container">
        <div class="row">
            <div class="col s12 center center-align">
                <h1>Pokémon Battle</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align startButtonDiv">
                <a class="startButton waves-effect waves-light btn-large red">Press Start to Begin!</a>
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s4 name_1 center-align"></div>
            <div class="col s2"></div>
            <div class="col s4 name_2 center-align"></div>
            <div class="col s1"></div>
        </div>
        <div class="row">
            <div class="col s1 pokeball_1">
            </div>
            <div class="col s4 placeholder"></div>
            <div class="col s2 versus">
            </div>
            <div class="col s4 placeholder2"></div>
            <div class="col s1 pokeball_2">
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s4 forProgress_1">
            </div>
            <div class="col s2">
            </div>
            <div class="col s4 forProgress_2">
            </div>
        </div>
    </div>
    </div>
</template>