<h1>Fantasy PokéLeague</h1>


-- on submit button click:
		-- in javascript make ajax call to get 24 random pokemon - set to variable
-- an array of objects will be returned 
		-- display each of these 24 objects on the left 
		-- display each of 4 teams on the right
