<h1>Fantasy PokéLeague</h1>


-- on submit button click:
		-- run function to get 24 random pokemon
		-- run function to display the order in which the users will draft
-- an array of objects will be returned 
		-- display each of these 24 objects on the left 
		-- display each of 4 teams on the right
