/*draft page*/

.card .card-reveal .card-title {
    font-size: 18px;
}

.card .card-title {
    font-size: 18px;
}

.collection a.collection-item {
    color: black;
}

.collection .collection-item.active {
    background-color: #d50000;
}

body {
    background-color: #ffc107;
    background-image: url(../images/grass.jpg);
}

a {
    color: #ffc107;
}

.pokepic {
    height: 90px;
    max-width: 80px;
}

.card .card-image {
    left: 30%;
    padding-top: 20px;
}

.card .card-content {
    padding: 16px;
}

.start {
    width: 100%;
    margin-bottom: 30px;
}

.draftLink {
    cursor: pointer;
}

.directions{
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color:#2196F3; 
}

.teamPicks img {
    margin: 10px;
    height: 80px;
}

.teamPicks {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokepool {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffc107;
}

.battle {
    margin-top: 300px;
}

.battleTitle {
    background-color: #2196F3;
}







/*start page*/

@font-face {
    font-family: PokemonHollow;
    src: url(../fonts/PokemonHollow.ttf);
}

h1 {
    font-family: PokemonHollow;
}

.modal {
    height: 250px !important;
}












/*battle page*/

.PokemonBattleTitle {
    font-family: PokemonHollow;
    background-color: #f44336;
    height: 95px;
    font-style: bold;
    border: solid 4px black;
    border-radius: 10px;
}

.battle_body {
    background-color: #3947b4;
}

h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.userName {
    margin-top: 10px;
    background-color: #fee737;
    border: solid 4px black;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
}

#pokeballUpNext {
    max-height: 50px;
}

.pokeball_2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    max-height: 50px;
}

.activePokemon {
    display: block;
    margin: auto;
    padding-top: 10px;
    border: solid 6px black;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.activeImg {
    margin-top: 10px;
    margin-bottom: 10px;
}


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.progress {
    background-color: white;
    height: 35px;
    border: solid 4px black;
    border-radius: 10px;
}