@font-face {
    font-family: PokemonHollow;
    src: url(./PokemonHollow.ttf);
}

h1 {
    font-family: PokemonHollow;
}

.modal {
    height: 250px !important;
}

body {
    background-image: url(../images/grass.jpg)
}