<template id="pokepool-template">
    <div class="row">
        <div class="col l3 m12 s12 teams">
            <div class="collection red-text text-darken-2 teamList">
                <a class="collection-item team-0">Team 1</a>
                <a class="collection-item team-1">Team 2</a>
                <a class="collection-item team-2">Team 3</a>
                <a class="collection-item team-3">Team 4</a>
            </div>
            <div class="draftStatus">
                <p> Game Notes:
                    <p>
                        <p>1. Each player will take turns drafting one Pokémon at a time to their team.</p>
                        <p>2. Click "Draft" Pokémon's card to add them to your team. Click the three dots to see their stats.</p>
                        <p>3. Once all four teams are made, the battle begins, and only one winner will remain!</p>
                        <a class="waves-effect waves-light red darken-2 btn start"><i class="material-icons left">play_circle_outline</i>Begin Draft</a>
            </div>
            <div class="teamPicks">
            </div>
        </div>
        <div class="col l9 m12 pokepool">
        </div>
    </div>
{{> battle}}
</template>
